/* line 1, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 6, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
main {
  flex: 1 0 auto;
}

/* line 10, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
#error_explanation {
  color: red;
}
/* line 12, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

/* line 21, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.users {
  list-style-type: none;
}

/* line 24, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.active .page-link {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

/* line 28, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.page-link {
  color: #343a40;
}

/* line 33, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card-img-overlay {
  display: flex;
}

/* line 36, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card-title {
  color: white;
  align-self: center;
  position: absolute;
  right: 0;
}

/* line 42, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.close-button {
  position: absolute;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}

/* line 56, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img {
  opacity: 0.4;
}

/* line 59, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img:hover {
  opacity: 1;
}

/* line 62, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.full-opacity {
  opacity: 1;
}

/* line 68, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
footer {
  background-color: #eeeeee;
}

/* line 72, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.footer-copyright {
  background-color: #bdbdbd;
}

/* line 75, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-grey {
  color: #424242;
}

/* line 78, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-grey a:hover {
  text-decoration: none;
  color: #757575;
}

/* line 84, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card {
  border: none;
}

/* line 87, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img:hover, .card-img-overlay:hover, .close-button:hover {
  cursor: pointer;
}

/* line 91, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.field_with_errors .form-control {
  color: red;
}
