/* line 1, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 6, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
main {
  flex: 1 0 auto;
}

/* line 11, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.users {
  list-style-type: none;
}

/* line 14, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.active .page-link {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

/* line 18, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.page-link {
  color: #343a40;
}

/* line 23, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card-img-overlay {
  display: flex;
}

/* line 26, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card-title {
  color: white;
  align-self: center;
  vertical-align: middle;
  margin-left: auto;
  right: 0;
}

/* line 33, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.close-button {
  position: absolute;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}

/* line 47, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img {
  opacity: 0.4;
}

/* line 50, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img:hover {
  opacity: 1;
}

/* line 53, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.full-opacity {
  opacity: 1;
}

/* line 59, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
footer {
  background-color: #eef0ee;
}

/* line 63, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.footer-copyright {
  background-color: #bdc2bd;
}

/* line 67, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-grey {
  color: #999999;
}

/* line 70, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-grey a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

/* line 76, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.card {
  border: none;
}

/* line 79, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.edit-card-img:hover, .card-img-overlay:hover, .close-button:hover {
  cursor: pointer;
}

/* line 83, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.field_with_errors .form-control {
  color: red;
}

/* line 87, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
#error_explanation {
  color: red;
}
/* line 89, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

/* line 95, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
a {
  color: #4caf50;
}

/* line 98, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-primary {
  color: #42a5f5;
}

/* line 101, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.text-success {
  color: #66bb6a;
}

/* line 104, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-dark {
  background-color: #424242;
  border-color: #424242;
}

/* line 108, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-dark:hover {
  background-color: #212121;
  border-color: #212121;
}

/* line 112, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-primary {
  background-color: #42a5f5;
  border-color: #42a5f5;
}

/* line 116, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-primary:hover {
  background-color: #2196f3;
  border-color: #2196f3;
}

/* line 120, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-success {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

/* line 124, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-success:hover {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* line 128, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-danger {
  background-color: #ef5350;
  border-color: #ef5350;
}

/* line 132, /Users/kevincamellini/Documents/Github/onesocial/app/assets/stylesheets/custom.scss */
.btn-danger:hover {
  background-color: #e53935;
  border-color: #e53935;
}
