<% provide(:title, 'Help') %>
<div class="row-fluid">
	<div class="col-12 text-center pt-3 px-2">
    <h1 class="text-dark d-none d-sm-block"><i class="far fa-question-circle"></i></h1>
		<h2 class="text-dark d-block d-sm-none"><i class="far fa-question-circle"></i></h2>
  </div>
</div>
<div class="row-fluid pt-4 pb-5 text-dark" align="justify">
	<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
		<h5>Follow these links for guides on how to find your username for the different types of social media available on <strong>1social</strong>.</h5>
		<a href="https://help.instagram.com/583107688369069">Instagram</a>
		<br />
		<a href="https://www.slickremix.com/how-to-get-your-youtube-name/">Youtube</a>
		<br />
		<a href="https://spryfox.zendesk.com/hc/en-us/articles/218505798-How-do-I-find-my-Facebook-username-">Facebook</a>
		<br />
		<a href="https://www.slickremix.com/docs/how-to-get-your-google-plus-id/">Google+</a>
		<br />
		<a href="https://www.boutiquewindow.com/how-do-i-find-my-pinterest-username/">Pinterest</a>
		<br />
		<a href="https://techcrunch.com/2016/01/28/snapchat-share-username/">Snapchat</a>
		<br />
		<a href="https://www.pixsy.com/academy/flickr-id/">Flickr</a>
		<br />
		<a href="https://www.facebook.com/help/messenger-app/1047811435279151?helpref=faq_content">Messenger</a>
		<br />
		<a href="https://help.medium.com/hc/en-us/articles/115004746707-Change-username">Medium</a>
		<br />
		<a href="https://www.reddit.com/r/help/comments/4uivdf/whats_the_link_that_redirects_to_your_reddit/">Reddit</a>
		<br />
		<a href="https://www.linkedin.com/help/linkedin/answer/49315/finding-your-linkedin-public-profile-url?lang=en">Linkedin</a>
		<br />
		<a href="https://help.daybreakgames.com/hc/en-us/articles/230631407-How-do-I-locate-my-Steam-ID-">Steam</a>
		<br />
		<a href="https://www.windowscentral.com/how-change-your-twitch-username">Twitch</a>
		<br />
		<a href="https://www.paypal.com/myaccount/settings/">Paypal</a>
		<br />
		<br />
		<h5>The following don't need any explaining:</h5>
		<span>twitter</span><br /><br />
	</div>

	<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
		<h5>The following are developer related, I assumed that you know how to find your username:</h5>
		<span>Hackernews</span>
		<br />
		<span>Github</span>
		<br />
		<span>Keybase</span>
		<br />
		<span>Devpost</span>
		<br />
		<span>Dev.to</span>
		<br />
		<span>Angel</span>
		<br /><br />
	</div>

	<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
		<h5>The following will not display username's, because they are only a random combination of letters and numbers:</h5>
		<span>Google Plus</span>
		<br />
		<span>Flickr</span>
		<br />
		<span>Origin (no link)</span>
		<br />
		<span>Steam</span>
		<br />
		<span>Discord (no link)</span>
		<br />
		<span>Ethereum</span>
		<br />
		<span>Bitcoin</span>
		<br /><br />
	</div>
</div>
