<% provide(:title, '1Social') %>
<div class="row pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-3 px-4">
    <div class="row">	
      <div class="col-12 p-1">
        <h2 class="d-none d-lg-block"><span class="typed-lg"></span></h2>
        <h3 class="d-none d-sm-block d-md-block d-lg-none"><span class="typed-md"></span></h3>
        <h5 class="d-block d-sm-none"><span class="typed-xs"></span></h5>
        <script type="text/javascript">
          // Typed.js from https://mattboldt.com/demos/typed-js/
          var options = {strings: [
                          "Follow me on:<br />Instagram&nbsp;@myname",
                          "Follow me on:<br />Youtube&nbsp;/myname",
                          "Follow me on:<br />Twitter&nbsp;@myname",
                          "Follow me on:<br /><span class=\"text-success\">Everywhere</span>&nbsp;<strong><a href=\"https\://one-social.herokuapp.com/kcamel\" class=\"text-dark\">1social.me/myname</strong></a>"
                        ],
                        smartBackspace: true,
                        typeSpeed: 40,
                        onComplete: function(){
                          $(".card-img-welcome").css('filter','grayscale(0)');
                          $(".card-img-welcome").css('opacity','0.8');
                        }
                      };
          var optionslg = {strings: [
                          "Follow me on: Instagram&nbsp;@myname",
                          "Follow me on: Youtube&nbsp;/myname",
                          "Follow me on: Twitter&nbsp;@myname",
                          "Follow me on: <span class=\"text-success\">Everywhere</span>&nbsp;<strong><a href=\"https\://one-social.herokuapp.com/kcamel\" class=\"text-dark\">1social.me/myname</strong></a>"
                        ],
                        smartBackspace: true,
                        typeSpeed: 40,
                        onComplete: function(){
                          $(".card-img-welcome").css('filter','grayscale(0)');
                          $(".card-img-welcome").css('opacity','0.8');
                        }
                      };
          var typedmd = new Typed('.typed-md', options );
          var typedxs = new Typed('.typed-xs', options);
          var typedlg = new Typed('.typed-lg', optionslg);
        </script>
      </div>
    </div>
  </div>
</div>
<!-- The cards -->
<div class="row pb-2">
    <div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-3 px-4">
        <div class="row">	
          <% @socialarray.each do |sa| %>
            <div class="col-2 col-lg-1 p-lg-1" style="padding: 0.1em;">
    			<%= content_tag( :div,"",
    								class: "card addsocial" )%>
    				<%= image_tag("#{sa}.png",
    									alt: "#{sa.capitalize}",
    									class: "card-img card-img-welcome",
                      style: "-webkit-filter: grayscale(1);filter: grayscale(1); opacity: 0.4;")%>
    		</div>
    	<% end %>
    </div>
  </div>
</div>

<div class="row pb-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-xl-6 offset-xl-3 px-4">
    <div class="row">	
      <div class="col-12 p-1">
        <p class="h4 d-none d-sm-block">The only social media link you'll ever need to share. All of your social media links, all in the same place.</p>
        <p class="h6 d-block d-sm-none">The only social media link you'll ever need to share. All of your social media links, all in the same place.</p>
        <%= link_to "Register", new_user_path, class: "btn btn btn-sm btn-success text-light" %>
        <%= link_to "View Users", users_path, class: "btn btn btn-sm btn-dark text-light" %>
      </div>
    </div>
  </div>
</div>
