<% provide(:title, 'Terms & Conditiions') %>
<!-- used example from https://graphenest.com/privacy-policy/ -->
<div class="row-fluid px-1 px-sm-5 pt-4 pb-5 text-grey">
	<div class="col-12 col-sm-10 offset-sm-1" align="justify">
		<h3 class="text-dark">Terms and Conditions</h3>
		<span>
			Last updated: March 21, 2018
		</span>
		<br /><br />
		<span>
			These Terms and Conditions (“Terms”, “Terms and Conditions”) govern your relationship with https://www.1Social.me website (the “Service”) operated by 1Social.me (“us”, “we”, or “our”).
		</span>
		<br /><br />
		<span>
			Please read these Terms and Conditions carefully before using the Service.
		</span>
		<br /><br />
		<span>
			Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
		</span>
		<br /><br />
		<span>
			By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
		</span>
		<br /><br />


		<h3 class="text-dark">Links To Other Web Sites</h3>

		<span>
			Our Service may contain links to third-party web sites or services that are not owned or controlled by 1Social.me.
		</span>
		<br/></br/>
		<span>
			1Social.me has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that 1Social.me shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
		</span>
		<br/></br/>
		<span>
			We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
		</span>
		<br/></br/>

		<h3 class="text-dark">Termination</h3>
		<span>
			We may terminate or suspend your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
		</span>
		<br /><br />
		<span>
			Upon termination, your right to use the Service will immediately cease.
		</span>
		<br /><br />


		<h3 class="text-dark">Limitation Of Liability</h3>
		<span>
		In no event shall 1Social.me, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
		</span>
		<br /><br />

		<h3 class="text-dark">Disclaimer</h3>
		<span>
			Your use of the Service is at your sole risk. The Service is provided on an “AS IS” and “AS AVAILABLE” basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
		</span>
		<br /><br />
		<span>
			1Social.me its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.
		</span>
		<br /><br />


		<h3 class="text-dark">Governing Law</h3>
		<span>
			These Terms shall be governed and construed in accordance with the laws of Canada, without regard to its conflict of law provisions.
		</span>
		<br/></br/>
		<span>
			Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
		</span>
		<br/></br/>


		<h3 class="text-dark">Changes</h3>
		<span>
			We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
		</span>
		<br/></br/>
		<span>
			By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
		</span>
		<br/></br/>


		<h3 class="text-dark">Contact Us</h3>
		<span>
			If you have any questions about these Terms, please <a href="https://1social.me/contact">contact us</a>.
		</span>
		<br/></br/>
	</div>
</div>
