body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

// All Users Page
.users{
  list-style-type: none;
}
.active .page-link{
  background-color: #343a40!important;
  border-color: #343a40!important;
}
.page-link{
  color:#343a40;
}

// Show Profile Page
.card-img-overlay{
  display:flex;
}
.card-title{
	color:white;
  align-self:center;
	vertical-align: middle;
	margin-left: auto;
  right:0;
}
.close-button{
  position: absolute;
  right:0;
  border:none;
  background-color: rgba(0,0,0,0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}

// Edit Social Media Page
.edit-card-img{
  opacity: 0.4;
}
.edit-card-img:hover{
  opacity: 1;
}
.full-opacity{
  opacity: 1;
}


//Footer Shiz
footer{
  background-color: #eef0ee;
}

.footer-copyright{
  background-color: #bdc2bd;
}

.text-grey{
  color:#999999;
}
.text-grey a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

// Common Shiz
.card{
	border:none;
}
.edit-card-img:hover, .card-img-overlay:hover, .close-button:hover{
  cursor: pointer;
}
.field_with_errors {
  .form-control {
    color: red;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.btn-md, .nav-pills .btn, .btn-lg {
  letter-spacing: 0.07em;
}
.btn {
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.card-img-overlay, .card-img {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-img-welcome{
  transition: opacity 1.5s;
}
.card-img-overlay:hover, .card-img:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
// Button and font material colors
a{
	color: #4caf50;
}
a:hover{
	color: #43a047;
  text-decoration: none;
}
.text-primary{
	color:#42a5f5;
}
.text-success{
	color:#66bb6a;
}
.btn-dark{
	background-color: #424242;
	border-color: #424242;
}
.btn-dark:hover{
	background-color: #212121;
	border-color: #212121;
}
.btn-primary{
	background-color: #42a5f5;
	border-color: #42a5f5;
}
.btn-primary:hover{
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-success{
	background-color: #66bb6a;
	border-color: #66bb6a;
}
.btn-success:hover{
	background-color: #4caf50;
	border-color: #4caf50;
}
.btn-danger{
	background-color: #ef5350;
	border-color: #ef5350;
}
.btn-danger:hover{
	background-color: #e53935;
	border-color: #e53935;
}
