body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	font-weight: lighter;
}
main {
  flex: 1 0 auto;
}

// All Users Page
.users{
  list-style-type: none;
}
.active .page-link{
  background-color: #343a40!important;
  border-color: #343a40!important;
}
.page-link{
  color:#343a40;
}

// Show Profile Page
.sharelink {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.sharelink #tooltiptext-sm {
    visibility: hidden;
    width: auto;
    font-size: 1rem;
    background-color: #66bb6a;
    color: #fff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25%;
}
.sharelink #tooltiptext-lg {
    visibility: hidden;
    min-width: 7rem;
    font-size: 1rem;
    background-color: #66bb6a;
    color: #fff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
    left: 105%;
}
// Show the arrow pointing from the tooltip
.sharelink #tooltiptext-sm::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #66bb6a transparent;
}
.sharelink #tooltiptext-lg::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #66bb6a transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.sharelink:focus .tooltiptext {
    // visibility: visible;
}

.card-img-overlay{
  display:flex;
}
.card-title{
	color:white;
  align-self:center;
	vertical-align: middle;
	margin-left: auto;
  right:0;
}
.close-button{
  position: absolute;
  right:0;
  border:none;
  background-color: rgba(0,0,0,0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}

// Edit Social Media Page
.edit-card-img{
  opacity: 0.4;
}
.edit-card-img:hover{
  opacity: 1;
}
.full-opacity{
  opacity: 1;
}


//Footer Shiz
footer{
  background-color: #eef0ee;
}

.footer-copyright{
  background-color: #bdc2bd;
}

.text-grey{
  color:#999999;
}
.text-grey a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

// Common Shiz
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn{
	font-weight: 200;
}
.alert{
	margin-top: 1rem;
	margin-bottom: 0;
}
.card{
	border:none;
}
.edit-card-img:hover, .card-img-overlay:hover, .close-button:hover, .sharelink:hover{
  cursor: pointer;
}
.field_with_errors {
  .form-control {
    color: red;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.btn-md, .nav-pills .btn, .btn-lg {
  letter-spacing: 0.07em;
}
.btn {
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.card-img-overlay, .card-img {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-img-welcome{
  transition: opacity 1.5s;
}
.card-img-overlay:hover, .card-img:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
// Button and font material colors
a{
	color: #4caf50;
}
a:hover{
	color: #43a047;
  text-decoration: none;
}
.text-primary{
	color:#42a5f5;
}
.text-success{
	color:#66bb6a;
}
.btn-dark{
	background-color: #424242;
	border-color: #424242;
}
.btn-dark:hover{
	background-color: #212121;
	border-color: #212121;
}
.btn-primary{
	background-color: #42a5f5;
	border-color: #42a5f5;
}
.btn-primary:hover{
	background-color: #2196f3;
	border-color: #2196f3;
}
.btn-success{
	background-color: #66bb6a;
	border-color: #66bb6a;
}
.btn-success:hover{
	background-color: #4caf50;
	border-color: #4caf50;
}
.btn-danger{
	background-color: #ef5350;
	border-color: #ef5350;
}
.btn-danger:hover{
	background-color: #e53935;
	border-color: #e53935;
}
