#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
// Landing page


// All Users Page
.users{
  list-style-type: none;
}
.active .page-link{
  background-color: #343a40!important;
  border-color: #343a40!important;
}
.page-link{
  color:#343a40;
}

// Show Profile Page
.card-img-overlay{
  display:flex;
}
.card-title{
  color:white;
  align-self:center;
  position: absolute;
  right:0;
}
.close-button{
  position: absolute;
  right:0;
  border:none;
  background-color: rgba(0,0,0,0);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
}

// Edit Social Media Page
.edit-card-img{
  opacity: 0.4;
}
.edit-card-img:hover{
  opacity: 1;
}
.full-opacity{
  opacity: 1;
}

// Common CSS
.card{
	border:none;
}
.edit-card-img:hover, .card-img-overlay:hover, .close-button:hover{
  cursor: pointer;
}
.field_with_errors {
  .form-control {
    color: red;
  }
}
