<nav class="navbar navbar-expand-md bg-light px-3">
  <div class="nav-item">
    <%= link_to raw("<strong>1Social</strong>.me"), root_path, class: "navbar-brand text-dark" %>
  </div>
  <ul class="navbar-nav ml-auto">
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "@#{current_user.name}", "/#{current_user.name}", class: "nav-link text-light btn btn-dark" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Log in", login_path, class: "nav-link text-light btn btn-dark" %>
      </li>
    <% end %>
  </ul>
</nav>
